<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <% for (let i = 0; i < data.length; i++) { %>
      <h1><%= data[i].name %></h1>
      <p>Age: <%= data[i].age %></p>
      <p>City: <%= data[i].city %></p>
    <% } %>
  </body>
</html>